div.sijainti {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: bisque;
    border-style: dotted;
    border-width: 2px;
    height: 100px;
    width: 100px;
}
body{

    background-color: bisque;
}
h1 {

    border-style: dotted;
    border-width: 2px;
    height: 100px;
    width: 200px;
    margin: 60px;
    padding: 20px;
}
p{
    
    background-color: coral;
    border: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;
}
figure
{margin: 100px;}

.ploro {
margin: 100px;
}